<div class="container">
    <table class="table text-center d-none d-md-table d-lg-table mt-3">
        <thead>
            <tr>
                <th scope="col">Ảnh sản phẩm</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thành tiền</th>
                <th scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody id="cart_items">
            <!-- JS render -->
        </tbody>
    </table>
    <div class="text-right">
        <h2 >Tổng tiền: <span id="sumPrice">0</span></h2>
    </div>
</div>